doctype html
html(lang="en")
	head
		//- Head
		include ./includes/head.jade
		
	body
		//- Header
		include ./includes/header.jade
		
		//- Content
		include ./includes/home.jade 
		
		//- Footer
		include ./includes/footer.jade
		
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js")
		
		
