doctype html
html(lang="en")
	head
		//- Head
		include ../includes/head.jade
		
		//- Header
		include ../includes/header.jade
		
		//- Content
		include ../includes/sale.jade
		
		//- Footer
		include ../includes/footer.jade
		
		//- Javascript
		script(src="/assets/js/jquery-2.1.4.min.js")
		script(src="/assets/js/functions.js")
