doctype html
html(lang="en")
	head
		//- Head
		include ../includes/head.jade
		
		//- Header
		include ../includes/header.jade
		
		// Content
		.container
			article		
				h1 Thank You For Buying The Suit
				hr 
				p <strong>Check your mail for a confirm email</strong> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.
