footer
	.row.footer-stuff
		.columns.four
			p: strong Stores Around The World
			ul
				li: a(href="") Amsterdam
				li: a(href="") London
				li: a(href="") Paris
				li: a(href="") New York
				li: a(href="") Miami
		.columns.four
			p: strong Get Social
			ul
				li: a(href="") FaceBook
				li: a(href="") Twitter
				li: a(href="") Instagram
				li: a(href="") Pinterest
				li: a(href="") LinkedIn
		.columns.four
			p: strong Other Shops
			ul
				li: a(href="") Fifty Four
				li: a(href="") Two To Two
				li: a(href="") 10 o'clock
				li: a(href="") Twelve Thirty
				li: a(href="") Ten Past Ten
