header
	.header-container
		.logo
	nav.nav
		.header-brand
		p.open-menu: a(href="#navigation-mobile") &#9776;
		ul#navigation
			li: a(href="/") Home
			li: a(href="/shop") Shop
			li: a(href="/sale") Sale
		ul#navigation-mobile
			p.close-menu: a(href="#navigation-mobile") &#10005;
			li: a(href="/") Home
			li: a(href="/shop") Shop
			li: a(href="/sale") Sale
			
