.container
	article
		h1 Three Quarter Clothing
		hr
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.

		.clothes-pics
			.row.img-row
				figure.columns.six
					img(src="/assets/img/clothes-1.jpg")
					figcaption Quarter Sweather <b>$150</b>
				figure.columns.six
					img(src="/assets/img/clothes-2.jpg")
					figcaption Quarter Suit <b>$200</b>
				figure.columns.twelve
					img(src="/assets/img/clothes-3.jpg")
					figcaption Quarter Jack <b>$100</b>
			
		.text-layout
			h1 Three Quarter Summer Sale
			hr
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.		
		
		.large-window
			.promo-text Suits In Sale!
				span <i>From</i> $150
				a.window-cta(href="/sale") Shop Now
				
