.container
	article
		h1 It's Sale!
		hr
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores repellendus iste eligendi rem voluptate dolorum qui officiis doloribus dolores quo hic consectetur nesciunt consequuntur at, ea quas sit, facere unde!
		
		div(style="height: 50px;")
				
		.row#buy
			h1(style="text-align: center;") Buy this suit
				i Only $150
			figure.suit
				.suit-img
			
			hr
				
			.columns.five
				h2 Pay With Creditcard
				form
					input.u-full-width(type="email", placeholder="Enter email", name="mail")
					input.u-full-width(type="text", placeholder="Enter full name", name="full-name")
					input.u-full-width(type="text", placeholder="Enter phone number", name="phone-number")
					input.u-full-width(type="text", placeholder="Enter creditcard number", name="creditcard-number")
					input.u-full-width(type="submit", name="submit", value="buy the suit")
			.column.one-half
				h2 Find a store
				h5 Amsterdam Store
				.place
					.store.amsterdam-store
					figcaption Visit The Amsterdam Store
				h5 London Store
				.place
					.store.london-store
					figcaption Visit The London Store
